.caja {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px; /* Añade espaciado alrededor de la barra de navegación */
}
.navBar img {
  width: 120px;
}
.enlaces {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.enlaces a {
  color: #242e52;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: bold;
  font-size: 15px;
  font-style: normal;
}
.enlaces a:hover {
  color: rgba(36, 46, 82, 0.6);
}
.enlaces li {
  margin-right: 20px; /* Añade espaciado entre los elementos de la lista */
}

.bContacto {
  font-family: "Be Vietnam Pro", sans-serif;
  width: 130px;
  height: 42px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  align-items: center;
  gap: 5px;
  background: #8b48bf;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25);
}
.cuerpo {
  display: flex;
}

.bmore {
  font-family: "Be Vietnam Pro", sans-serif;
  width: 130px;
  height: 42px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: none;
  background: #8b48bf;
}
.seccon1 {
  width: 100%;
  height: 50px;
}
.parte1 {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.live {
  font-family: "Be Vietnam Pro", sans-serif;
  margin-right: 35px;
  padding: 20px;
  font-size: 35px;
  text-align: right;
  color: #232c50;
}
.p1 {
  font-size: 17px;
  text-align: right;
  color: #232c50;
}
.caja2 {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  height: relative;
  background-color: #8b48bf;
  color: white;
}
.parte2 {
  size: 70px;
  text-align: left;
  display: flex;
  align-items: center;
}
.p2 {
  text-align: center;
  text-align: left;
  color: white;
  size: 19px;
  width: 450px;
  line-height: 1.5;
  margin-right: 70px;
  margin-left: 50px;
}
.question {
  font-size: 36px;
  margin-right: 50px;
  margin-left: 70px;
}
.differentbtwpros {
  background-color: #fafafa;
  size: 16px;
  line-height: 1.5;
  font-family: "Be Vietnam Pro", sans-serif;
}
.points3 {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.point01,
.point02,
.point03 {
  margin-left: 40px;
  margin-right: 40px;
  width: 437px;
  height: 158px;
  text-align: center;
}
.h3_point {
  color: #323851;
  text-align: left;
}
.p_point {
  color: #b3b2b7;
  text-align: left;
}

.piepag1 {
  background-color: #8b48bf;
  display: flex;
}
.bGo {
  font-family: "Be Vietnam Pro", sans-serif;
  width: 60px;
  height: 42px;
  padding: 5px;
  gap: 5px;
  border-radius: 50px;
  border: none;
  color: #8b48bf;
  background-color: white;
  justify-content: right;
}
.piePag {
  background-color: #1e1e26;
  color: white;
}

.enlaces2 {
  font-family: "Be Vietnam Pro", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.enlaces2 a {
  color: white;
  font-size: 15px;
  font-style: normal;
}
.enlaces2 a:hover {
  color: #b3b2b7;
}
.enlaces2 li {
  margin-right: 20px; /* Añade espaciado entre los elementos de la lista */
}
.bsubmit {
  font-family: "Be Vietnam Pro", sans-serif;
  width: 60px;
  height: 42px;
  padding: 5px;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  border: none;
  background: #8b48bf;
  color: white;
}
